header {
background-color: rgb(230, 78, 78);
padding: 50px;
color: white;
text-align: center;
}

main {
display: flex;
justify-content:space-between;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

section {
  justify-content:space-between;
  width: 70%;
  background-color: rgb(198, 165, 222);
  flex-direction: column;
  }

  nav {
    align-content: center;
    align-items: center;
  }

.asidebar {
  width: 30%;
  background-color: rgb(198, 165, 222);
  display: flex;
  align-items: center;
  justify-content: center; 
  }

.container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(174, 122, 211);
  }

  .container div {
    display: flex;
    height: 200px;
    justify-content: center;  
    gap: 10%;
    }

    img {
      width: 211px;
      height: 160px;
      padding: 20px; 
      padding-left: 30px;
      padding-right: 30px;    
    }
  .flexcontainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height:80px;
  background-color: rgb(239, 132, 132);
  color: white;
  align-items: center;
  }
  
  